
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;400;500;600;700&display=swap');

/*  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* styling for writing in the navbar*/
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

/*  styling for the position of items in the navbar*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    width: 100%;
}

/*  Styling for the logo*/
.logo {
    cursor: pointer;
    width: 100px;
    height: auto;
}

/*  Styling for the list in the navbar*/
.nav_links {
    list-style-type: none;
}
/*  Styling for the list in the navbar*/
.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

/*  Styling for how the list reacts after being hovered over*/
.nav_links li a {
    transition: all 0.3s ease 0s;
}

/*  Styling for how the list react when its hovered over.*/
.nav_links li a:hover {
    color: rgba(166, 213, 228, 1);
}

/*  Styling for the buttons in the navbar*/
button {
    padding: 9px 25px;
    background-color: rgba(166, 213, 228, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

input[type = submit] {
    padding: 9px 25px;
    background-color: rgba(166, 213, 228, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/*  How the buttons in the navbar reacts when its hovered over*/
button:hover {
    background-color: rgba(166, 213, 228, 0.8);
}

/*  Styling for the button next to the searchbar*/
.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/*  Styling for how the search button behaves when its hovered over*/
.topnav .search-container button:hover {
    background: #ccc;
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(F,F,F,F.8)50%,rgba(F,F,F,F.8)50%);
    position: absolute;
    top: 200px;
    left: 600px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #000000;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #000000;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #000000;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #979797;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background-color: rgba(166, 213, 228, 1);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    
}

.btnn a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.btnnn{
    width: 240px;
    height: 40px;
    background-color: rgba(166, 213, 228, 1);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    
}

.btnnn a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

/*  Styling for the checkbox in the "subscribe section"*/
input[type=checkbox] {
    margin-top: 16px;
}

/*  Styling for the submit button in the subsribe section*/
input[type=submit] {
    background-color: rgba(166, 213, 228, 1);
    color: black;
    border: none;
}

/*  Styling for how the submit in subsribe behaves when hovered over*/
input[type=submit]:hover {
    opacity: 0.8;
}

/* Styling to place the seperate items in the footer into a row. */
.row {
    display: flex;
    flex-wrap: wrap;
}

/*  Styling for the unorderec lists*/
ul {
    list-style: none;
}

/* Styling for the each column in the footer */
.footer-col{
    width: 25%;
    padding: 0 15px;
}

/* Styling for the header in each column in the footer */
.footer-col h4{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: black;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;

}

/*  Adding a line underneath the header*/
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgba(166, 213, 228, 1);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}


/*  Styling for the checkbox in the "subscribe section"*/
input[type=checkbox] {
    margin-top: 16px;
}

/*  Styling for the submit button in the subsribe section*/
input[type=submit] {
    background-color: rgba(166, 213, 228, 1);
    color: black;
    border: none;
}

/*  Styling for how the submit in subsribe behaves when hovered over*/
input[type=submit]:hover {
    opacity: 0.8;
}

/* Styling to place the seperate items in the footer into a row. */
.row {
    display: flex;
    flex-wrap: wrap;
}

/*  Styling for the unorderec lists*/
ul {
    list-style: none;
}

/* Styling for the each column in the footer */
.footer-col{
    width: 25%;
    padding: 0 15px;
}

/* Styling for the header in each column in the footer */
.footer-col h4{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: black;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;

}

/*  Adding a line underneath the header*/
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgba(166, 213, 228, 1);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.hero_image {
    width: 100%;
    height: auto;
}

/*  Styling for how the items in todays deals will look*/
.column {
    float: left;
    width: 20%;
    padding: 5px;
}

  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Styling for the pictures in todays deaals */
.todays-deals-pictures {
      height: 250px;
      width: 100%;
}

/*  Styling for todays deals section*/
.todays-deals {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5px;
}

/*  Styling for te overall footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 80%;
    margin-left: 10%;
}

/*  Styling for the form to subscribe to the newsletter*/
form {
    font-family: Arial;
    width: 100%;
}

.container {
    width: 100%;
    background-color: #FFFFFF;
}

.footer input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/*  Styling for how the submit in subsribe behaves when hovered over*/
input[type=submit]:hover {
    opacity: 0.8;
}


/* Styling to place the seperate items in the footer into a row. */
.row {
    display: flex;
    flex-wrap: wrap;
}

/*  Styling for the unorderec lists*/
ul {
    list-style: none;
}

/* Styling for the each column in the footer */
.footer-col{
    width: 25%;
    padding: 0 15px;
}

/* Styling for the header in each column in the footer */
.footer-col h4{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: black;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;

}

/*  Adding a line underneath the header*/
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgba(166, 213, 228, 1);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

/*  Sytling any paragraphs thats in the any column in the footer*/
.footer-col p{
    font-size: 12px;

}

/*  Styling the th last item in the list in the footer*/
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

/*  Styling how each item in the columns in the footer looks*/
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 300;
    color: Black;
    display: block;
}

/*  Styling for how each item behaves when its hovered over*/
.footer-col ul li a:hover {
    color: rgba(166, 213, 228, 1);
    padding-left: 10px;
}
